@import './base/null';

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #1e2c49;

  background-image: url('../assets/bw-pattern.png');
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
  &.hovered {
    background-image: url('../assets/colored-pattern.png');
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  height: 100vh;
}
